.navbar{
    margin: 0 !important;
}

.NavbarToggler {
    border: none;
}

#Navbar .Navbar-white {
    background-color: #ffffff !important;
    color: #3c3d6f !important;
}

.navbar-item {
    color: #ffffff !important;
}

.navbar-item-active {
    color: #FD8F5F !important;
    font-weight: bold;
}

.navbar-bg-transparent {
    background-color: transparent;
    transition: background-color .6s ease 0s;
}

.navbar-text-blue {
    color: #3c3d6f !important;
}

.navbar-bg-blue {
    background-color: #ffffff;
    transition: background-color .6s ease 0s;
}

.navbar-toggler-icon {
    background-image: url('../../assets/svg/toggler-menu.svg') !important;
    background-repeat: no-repeat;
    height: 2.5rem;
    width: 2.5rem;
}

.left-left {
    margin-right: 6% !important;
}

@media only screen and (max-width: 768px) {
    /* .navbar{
        margin-top: 0px;
    } */
    
    /* .navbar-item {
        color: #6B6D7F !important;
    } */
}