.buttonoutlined {
    background-color: transparent;
    border: solid 1px #ffffff;
    border-radius: 24px;
    color: #DB612C;
    height: 48px;
    width: 150px;
}

.buttonoutlined:hover {
    background-color: #DB612C;
    border: solid 1px #DB612C;
    color: #ffffff;
    font-weight: 500;
}

.buttonoutlined:active {
    border: none !important;
}
