.about-menu-container {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.about-item-container {
    padding: 0 5rem;
}

@media only screen and (max-width: 767px) {
    .display {
        display: inline;
    }
    .about-item-container {
        padding: 0 7rem;
    }    
}
