.container-jumbotron {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.card {
    border: none !important;
}

.card-img {
    width: 25%;
    height: 25%;
}

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #3B3C6E;
}
