.container-gallery {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.container-img-gallery {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.img-gallery {
    border-radius: 15px;
    background-image: rgba(0, 0, 0, 1);
}