.header-container {
    padding: 12rem 0 7rem 0;
}

.header-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}